<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">{{status_code}}</h1>

        <p class="fs-3 h5">{{#if oops}}<span class="text-danger">{{ oops }}</span> {{/if}}{{error_message}}.</p>

        <p class="lead">
            {{#if pretty_message }}
                {{ pretty_message }}.
            {{else}}
                An unexpected error happened.
            {{/if}}
        </p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>
